In [10]:
import duckdb
with duckdb.connect("../ads_data.duckdb") as connection:
    df_mart = connection.execute("SELECT * FROM mart.mart_ads").df()
df_mart.head()

,headline,occupation,occupation_group,occupation_field,description,duration,working_hours_type,scope_of_work_min,scope_of_work_max,vacancies,employer_name,workplace_region,workplace_city,experience_required,driving_license,access_to_own_car,must_have_languages
0,Industrieketriker,Industrielektriker,Industrielektriker,"Installation, drift, underhåll",Tedelektro håller på att expandera och vi behö...,Tills vidare,Heltid,100,100,1,Tedelektro AB,ej angiven,ej angiven,True,True,False,Svenska
1,Lagertekniker (Deltid/Extra) – Crona Software,"Servicetekniker, data",Elektronikreparatörer och kommunikationselektr...,"Installation, drift, underhåll",Lagertekniker (Deltid/Extra) – Crona Software\...,ej angiven,None,<NA>,<NA>,1,Crona Software AB,Skåne län,Helsingborg,True,True,False,Svenska
2,Bilmekaniker,Personbilsmekaniker,Motorfordonsmekaniker och fordonsreparatörer,"Installation, drift, underhåll",Vi söker en bilmekaniker som vill jobba anting...,Tills vidare,Heltid,100,100,1,Landvetter Bilverkstad Br. Josefsson AB,Västra götalands län,Härryda,True,True,False,Svenska
3,Verkstadstekniker,"Servicetekniker, maskin",Motorfordonsmekaniker och fordonsreparatörer,"Installation, drift, underhåll",Är du vår nya verkstadstekniker? Vi expander o...,Tills vidare,Heltid,100,100,2,Liebherr-Sverige AB,Västmanlands län,Västerås,True,True,False,"Engelska, Svenska"
4,Tågmontör med elkompetens,"Servicetekniker, tåg",Underhållsmekaniker och maskinreparatörer,"Installation, drift, underhåll",Plats: Falköping\nStartdatum: 2025-05-15 \nAns...,6 månader eller längre,Heltid,100,100,1,Railforce Sweden AB,Västra götalands län,Falköping,True,True,False,"Engelska, Svenska"

In [22]:
df_mart["workplace_city"]("vacancies")

TypeError: 'Series' object is not callable

In [24]:
import plotly.express as px

# px.bar(df.head(10), x="workplace_city", y="vacancies")
df = df_mart.groupby("workplace_city")["vacancies"].sum().sort_values(ascending=False).reset_index().head(10)
df

  workplace_city  vacancies
0     ej angiven       5629
1      Stockholm       1515
2       Göteborg        587
3          Malmö        414
4      Linköping        260
5          Luleå        185
6        Uppsala        159
7          Gävle        140
8       Västerås        139
9     Norrköping         90

In [ ]:
df_mart.groupby('employer_name')["vacancies"].sum().sort_values(ascending=False).reset_index()

                           employer_name  vacancies
0                       Vs Consulting AB       5200
1                             eLinked AB        320
2             Fordonsakademin Sverige AB        277
3     Studentconsulting Sweden AB (Publ)        224
4                       Aura Personal AB        194
...                                  ...        ...
1238                      Österlen VA AB          1
1239                    Öresundskraft AB          1
1240          Öregrund Marine Service AB          1
1241                  Örebro Universitet          1
1242                Örebro Bilservice AB          1

[1243 rows x 2 columns]

In [8]:
occupation_fields = df_mart.groupby("occupation_field")["vacancies"].sum().sort_values(ascending=False).reset_index().head(5)
top_occupation = df_mart.groupby("occupation_field")["vacancies"].sum().sort_values(ascending=False).reset_index().head(5)

occ_1 = occupation_fields["vacancies"]
top_occupation

                 occupation_field  vacancies
0           Kultur, media, design       6172
1  Installation, drift, underhåll       5316
2        Kropps- och skönhetsvård        655

In [16]:
df_mart[df_mart["workplace_city"] == 'ej angiven']

,headline,occupation,occupation_group,occupation_field,description,duration,working_hours_type,scope_of_work_min,scope_of_work_max,vacancies,employer_name,workplace_region,workplace_city,experience_required,driving_license,access_to_own_car,must_have_languages
0,Industrieketriker,Industrielektriker,Industrielektriker,"Installation, drift, underhåll",Tedelektro håller på att expandera och vi behö...,Tills vidare,Heltid,100,100,1,Tedelektro AB,ej angiven,ej angiven,True,True,False,Svenska
31,"EV Specialist, Field Engineer","Servicetekniker, elkraft",Distributionselektriker,"Installation, drift, underhåll",Är du en passionerad tekniker med erfarenhet a...,Tills vidare,Heltid,100,100,1,Gilbarco Veeder-Root AB,ej angiven,ej angiven,True,True,False,"Engelska, Svenska"
44,Drifttekniker till Mälardalen,"Fastighetstekniker/Drifttekniker, fastighet",Fastighetsskötare,"Installation, drift, underhåll",Är du vår nästa stjärna inom fastighetsförvalt...,Tills vidare,Heltid,100,100,1,Neobo Fastigheter AB (publ),ej angiven,ej angiven,True,True,False,"Engelska, Svenska"
49,Servicetekniker som vill skapa rent vatten,"Servicetekniker, elektronik",Elektronikreparatörer och kommunikationselektr...,"Installation, drift, underhåll",Servicetekniker som vill skapa rent vatten med...,Tills vidare,Heltid,100,100,1,Hach Lange AB,ej angiven,ej angiven,True,True,False,"Engelska, Svenska"
68,Futuraskolan AB- Vaktmästare/Facilities caretaker,Skolvaktmästare,Fastighetsskötare,"Installation, drift, underhåll",Are you interested in joining our Maintenance ...,6 månader eller längre,Heltid,100,100,1,Futuraskolan AB,ej angiven,ej angiven,True,True,False,"Engelska, Svenska"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5092,TOLKAR I ARMENISKA I SKÅNES LÄN,Tolk,"Översättare, tolkar och lingvister m.fl.","Kultur, media, design",Vi är en modern tolkförmedling som bokar och f...,ej angiven,None,<NA>,<NA>,20,Vs Consulting AB,ej angiven,ej angiven,True,False,False,ej specifierat
5093,TOLKAR I ARMENISKA I SKÅNES LÄN,Tolk,"Översättare, tolkar och lingvister m.fl.","Kultur, media, design",Vi är en modern tolkförmedling som bokar och f...,ej angiven,None,<NA>,<NA>,20,Vs Consulting AB,ej angiven,ej angiven,True,False,False,ej specifierat
5094,TOLKAR I ARMENISKA I SKÅNES LÄN,Tolk,"Översättare, tolkar och lingvister m.fl.","Kultur, media, design",Vi är en modern tolkförmedling som bokar och f...,ej angiven,None,<NA>,<NA>,20,Vs Consulting AB,ej angiven,ej angiven,True,False,False,ej specifierat
5095,TOLKAR I ARMENISKA I SKÅNES LÄN,Tolk,"Översättare, tolkar och lingvister m.fl.","Kultur, media, design",Vi är en modern tolkförmedling som bokar och f...,ej angiven,None,<NA>,<NA>,20,Vs Consulting AB,ej angiven,ej angiven,True,False,False,ej specifierat
5096,TOLKAR I ARMENISKA I SKÅNES LÄN,Tolk,"Översättare, tolkar och lingvister m.fl.","Kultur, media, design",Vi är en modern tolkförmedling som bokar och f...,ej angiven,None,<NA>,<NA>,20,Vs Consulting AB,ej angiven,ej angiven,True,False,False,ej specifierat